# Packages
yarn.lock
node_modules/

# Log files
logs/
*.log

# Authentication
deploy/

# Miscellaneous
.tmp/
docs/
.vscode/

# Configurations

.travis.yml
.eslintrc.json
webpack.config.js

# Github

.github/
.gitignore
.gitattributes

# NPM ignore

test/
assets/
pages/
status/
